
#About{
    background-color: rgb(231, 167, 18);
    font-size: 15px;
    width: auto;
    padding: auto;
    margin: 20px;
    text-align: center;
   
    img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:15%;
}
    
}

#Projects{
    background-color: rgb(130, 104, 30);
    font-size: 32px;
    width: auto;
    padding: auto;
    margin: 20px;
    text-align: center;
}

#Skills{
    background-color: hwb(43 31% 27%);
    font-size: 32px;
    width: auto;
    padding: auto;
    margin: 20px;
    text-align: center;

    p{
        font-size: 20px;
        color: white;
    }
}


#Contact{
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(202, 179, 87);
  color: white;
  text-align: center;
}

    

ul{
    list-style: none;
    text-align: center;
}

ul li{
    display: inline;
}

li{
    padding-right: 40px;
}


/* Mobile styles */

@media screen and (max-width: 600px){





 #About{
    background-color: sienna;
    font-family: Helvitica;
    
    h1{
        font-size: 20px;
        color: white;
    }

    p{
        font-size: 15px;
        color: white;
    }

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;}
    }

#Skills{
    background-color: saddlebrown;
   
    h1{
        font-size: 30px;
        color: white;
        margin: 10px
    }

}
#Projects{
    background-color: peru;
    h1{
        font-size: 30px;
        color: white;
        margin: 10px
    }

    ul{
        font-size: 20px;
        color: white;
    }

}
#Contact{
    background-color: coral;
    p{
        text-transform: capitalize;
    }
}
}


    

 /* @media screen and (min-width: 768px){

}
    

@media screen and (min-width: 1200px){

}
 */ 
