
#about{
    background-color: rgb(231, 167, 18);
    font-size: 15px;
    width: auto;
    padding: auto;
    margin: 20px;
    text-align: center;
   
    img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:15%;
}
    
}

#projects{
    background-color: rgb(130, 104, 30);
    font-size: 32px;
    width: auto;
    padding: auto;
    margin: 20px;
    text-align: center;
}

#skills{
    background-color: hwb(43 31% 27%);
    font-size: 32px;
    width: auto;
    padding: auto;
    margin: 20px;
    text-align: center;
}


#contact{
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(202, 179, 87);
  color: white;
  text-align: center;
}

    

ul{
    list-style: none;
    text-align: center;
}

ul li{
    display: inline;
}

li{
    padding-right: 40px;
}





@media screen and (min-width: 768px){
}
    

@media screen and (min-width: 768px){

}
    

@media screen and (min-width: 992px){

   }

@media screen and (min-width: 1200px){

}

@media screen and (min-width: 1400px){
    
}
